@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet specific styles */
.leaflet-container {
  width: 100%;
  height: 100vh;
}

/* Custom styles */
.dark .leaflet-tile {
  filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

.dark .leaflet-container {
  background: #303030;
}
